name: CI Pipeline - Build Test Secure

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "Build step"

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Test step"

  security:
    name: Security
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: echo "Security step"

  terraform:
    name: Terraform Validate & Plan
    runs-on: ubuntu-latest
    needs: security

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -input=false

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -input=false
